.navbarWrapper {
  background-color: #000;
  color: #d7d7d7;
  padding: 10px 20px;
  position: sticky;
  left: 0;
  top: 0;
}
.navbarListFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logoDiv {
  display: flex;
  align-items: center;
}
.appLogoText {
  font-size: 1.5rem;
  font-weight: 700;
}
.appLogo {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 4px;
}
.navbarListsDiv {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.navbarList, a{
  font-size: 20px;
  list-style: none;
  text-decoration: none;
  margin-right: 1rem;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #d7d7d7;
}
.navbarListImg {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: 4px;
}
.navbarFetchedData {
  background-color: #44065a;
  color: #fff;
  padding: 4px 6px;
  border-radius: 40%;
  margin-left: 3px;
  font-size: 12px;
}
.sidebarWrapper{
  width: 30%;
  margin: 40px;
}
.sidebarContent{
  width: 300px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 3px 5px 6px 8px #f2f2f2;

}
.sidebarGrandUserImg{
  width: 50%;
  height: 500%;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 4px;
}
.sidebarDivs{
  display: flex;
  align-items: center;
}
.sidebarLinkIcon{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 4px;
}
.sidebarLinks{
  color: #555555;
  font-size: 18px;
}
.sidebarLabels{
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  color: #212121;
  margin-right: 5px;
}
.copyRight{
  width: 310px;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 70px;
  background-color: #44065a;
  padding: 20px;
  text-align: center;
  padding-top: 50px;
  color: #fff;
  box-shadow: 2px 3px 4px 7px #f3f3f3;
}
.loveImgText{
  color: #212121;
  font-size: 20px;
  margin-top: 20px;
}
.loveImg{
  width: 30px;
  height: 30px;
  margin-top: 15px;
}